<app-header></app-header>

<div class="imageDiv">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="nameHolder">
          <h2>Вітаємо вас на головній сторінці ресторану Mango!</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="backgr">
    <div class="row">
      <div class="col-md-12">
        <div class="headers">
          <h3>Популярний вибір!</h3>
        </div>
      </div>
      <p></p>
      <p></p>
      <div class="col-md-6">
        <div class="card">
          <div class="cardCont">
            <img src="/Untitled-8.png" class="card-img-top" alt="..." />
            <div class="cardImg">70 грн.</div>
            <div class="cardOver">
              <button routerLink="/menu" class="btns">Замовити!</button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Смажена курочка</h5>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="cardCont">
            <img src="/Untitled-9.png" class="card-img-top" alt="..." />
            <div class="cardImg">50 грн.</div>
            <div class="cardOver">
              <button routerLink="/menu" class="btns">Замовити!</button>
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title">Напій: Вишневий коктейль</h5>
          </div>
        </div>
      </div>
      <p></p>
      <p></p>
      <div class="col-md-12">
        <div class="headers">
          <h3>Чому обирають саме нас?</h3>
        </div>
      </div>
      <p></p>
      <p></p>
      <div class="col-md-4">
        <div class="card" style="width: 100%">
          <img src="/Untitled-3.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              Ввічливий персонал <i class="bi bi-heart-fill"></i>
            </h5>
            <p class="card-text">
              Наші гості завжди в центрі уваги! Персонал зустріне вас з
              посмішкою, допоможе з вибором страв і зробить усе, щоб ви
              почувалися комфортно.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 100%">
          <img src="/Untitled-4.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              Професійні кухарі <i class="bi bi-fork-knife"></i>
            </h5>
            <p class="card-text">
              Наші шеф-кухарі мають багаторічний досвід та готують з великою
              любов'ю. Кожна страва це гармонія смаку, якості та витонченої
              майстерності.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 100%">
          <img src="/Untitled-5.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">
              Низькі ціни <i class="bi bi-cash-coin"></i>
            </h5>
            <p class="card-text">
              Смачно - не означає дорого. Ми пропонуємо найкращу ціну та якість,
              щоб ви могли насолоджуватись улюбленими стравами без переплат.
            </p>
          </div>
        </div>
      </div>
      <p></p>
      <p></p>
      <div class="col-md-6">
        <div class="headers">
          <h3>З чого починалась наша історія</h3>
        </div>
        <p></p>
        <p class="descr">
          Усе почалося з маленької мрії - створити місце, де кожен гість
          почуватиметься як удома, а кожна страва залишала приємні спогади. Ідея
          нашого ресторану зародилася в серці молодого кухаря, який мріяв
          об'єднати найкраще з різних кухонь світу у затишному куточку свого
          рідного міста. Назву ресторану було обрано не випадково - манго
          символізує тепло, екзотику й насолоду. Саме такими ми хотіли зробити
          кожні візит і вечерю в нашому ресторані. З перших днів роботи ми
          поставили собі чітку мету: найсвіжіші продукти, справжня увага до
          кожного гостя, і страви, які хочеться куштувати знову і знову.
          Спочатку це був невеликий заклад з кількома столиками, але завдяки
          щирим відгукам і любові наших гостей ми почали рости. Сьогодні "Mango"
          - це місце, яке обирають для романтичних вечерь, дружніх зустрічей і
          сімейних свят. І найкраща наша нагорода - це щасливі обличчя та
          порожні тарілки!
        </p>
      </div>
      <div id="cent" class="col-md-6">
        <img
          src="/Untitled-6.png"
          class="card-img-top"
          id="mangoimg"
          alt="restaurant image"
        />
      </div>
      <p></p>
      <p></p>
      <div class="col-md-12" style="text-align: center">
        <button routerLink="/about" class="btns">
          Дізнатися більше <i class="bi bi-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
