<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/Untitled-10.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>Обирайте, де Вам зручніше!</h5>
              <p>Багато місць всередені та ззовні ресторану.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/Untitled-11.png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>Затишний другий поверх</h5>
              <p>Для великих сімейних свят та застіль.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/Untitled-6(1).png" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <h5>Один з найкращих ресторанів України</h5>
              <p>Чекаємо на вас вже сьогодні!</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  <div class="backgr">
    <div class="row">
      <div class="col-md-12">
        <div id="med" class="headers">
          <h3>Про нас і нашу команду</h3>
        </div>
      </div>
      <p></p>
      <p></p>
      <div class="col-md-4">
        <div class="card" style="width: 100%">
          <img src="/Untitled-13.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Вертоголова Маргарита</h5>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div id="med" class="headers"><h4>Засновник ресторану</h4></div>
        <p></p>
        <p class="descr">
          Маргарита народилася в місті Миколаїв, що на півдні України. З
          раннього дитинства вона вирізнялася серед однолітків спокійним
          характером, творчою уявою та безмежною любов'ю до книжок. Її часто
          можна було побачити в бібліотеці або в дворі з книгою в руках. Вона
          читала все: від дитячих казок до класики світової літератури. Особливо
          її захоплювала українська література, а приваблювали її історії про
          мандрівників та митців, людей, які жили серцем. Батьки підтримували її
          інтерес до читання, купували книжки з першої зарплати, а коли грошей
          було не дуже, то навіть старі томи зі шкільної бібліотеки знаходили
          друге життя в її руках. Вона не просто читала, вона занурювалась у
          книгу повністю, мріяла, уявляла, писала власні невеличкі оповідання у
          зошитах, уявляючи себе письменником. У підлітковому віці це переросло
          у справжнє хоббі і вона почала вести щоденник, у якому описувала свої
          думки, емоції, перші переживання та мрії. Це був час, коли книжкове,
          романтичне сприйняття стало невіддільною частиною її особистості.
          Після школи вона вступила до університету, де навчалась на
          комп'ютерного інженера. Саме там Маргарита знайшла друзів, які
          поділяли її тонке бачення світу. Вона брала участь у літературних
          вечорах та квартирниках у яких представляла людям свою майстерність. У
          цей час у неї народжується бажання не просто мріяти, а й втілювати
          мрії в життя. Тоді у неї й почали з'являтися перші думки про
          будівництво нашого ресторану. Маргарита це людина, яка виросла в
          оточенні звичайного, але змогла побачити в ньому красу.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-7">
        <div class="headers">
          <h3>Історія створення ресторану</h3>
        </div>
        <p></p>
        <p class="descr">
          У самому серці міста, серед метушливих вулиць і буденних турбот,
          з'явилося місце, де час сповільнюється. Місце, що народилося з мрії
          однієї юної дівчини, нашої майбутньої засновниці, Маргарити. Творчої,
          мрійливої, яка з дитинства жила у світі книжкових історій та романів.
          Вона завжди знаходила затишок у книгах, їхніх світів вечірніх розмов
          персонажів за кухонним столом, з ароматом смачної їжі, у тиші, яка
          ніколи не буває самотньою. Маргарита довго міркувала над ідеєю
          створити простір, у якому кожен гість міг би відчути себе в такому ж
          теплі, спокої й легкості, як і книжкові герої. Вона мріяла про
          ресторан, який був би не просто місцем, де подають їжу, а справжнім
          втіленням затишної атмосфери - з м'яким світлом, гарною верандою, під
          теплим вуличним вітром, і тишею, яку не хочеться порушувати.

          <br />Ресторан "Mango" почався не з бізнес-плану або стартапу, а з
          блокнота, у який вона записувала свої ідеї: якого кольору будуть
          стінки будівлі, яка музика звучатиме. Вона шукала справжню формулу
          відчуття затишку, і тільки тоді, меблі, декор, кожна деталь, від
          вибору посуду до книжкових полиць, було продовженням її уявлення про
          тепло, дім і спокій. З перших днів "Mango" намагався бути особливим
          місцем. Сюди приходили, або великою сім'єю для смачної вечері, або
          парами, щоб відпочити серцем: поговорити з близькими, побути наодинці
          з думками, перечитати улюблену книжку. Цей ресторан не зовсім про їжу,
          хоча вона тут створена з душею. Цей ресторан про мрію, що стала
          реальністю. Про турботу, яку можна відчути. Про затишок, як про стан
          душі, і саме Маргарита подарувала його цьому місцю і цим людям.
        </p>
      </div>
      <div class="col-md-5">
        <img
          src="/Untitled-6.png"
          class="card-img-top"
          id="mangoimg"
          alt="restaurant image"
        />
        <p></p>
        <img
          src="/Untitled-12.png"
          class="card-img-top"
          id="mangoimg"
          alt="restaurant image"
        />
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="headers"><h4>Персонал</h4></div>
      </div>
      <div class="col-md-4" *ngFor="let employee of employees">
        <div id="empl" class="card" style="width: 100%">
          <img
            [src]="employee.image_url"
            class="card-img-top"
            alt="{{ employee.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ employee.name }}</h5>
          </div>
        </div>
        <div class="nameHolder" *ngIf="employee.is_eom">Працівник місяця!</div>
      </div>
  <div class="col-md-4">
    <div id="empl" class="card" style="width: 100%" (click)="openRegistrationModal(employeeForm)">
      <img src="/wanted.png" class="card-img-top" alt="Шукаємо працівників!" />
      <div class="card-body">
        <h5 class="card-title">Шукаємо працівників!</h5>
      </div>
    </div>
  </div>
</div>

<ng-template #employeeForm let-modal>
  <app-employee-form 
    (employeeAdded)="onEmployeeAdded(); modal.close()"
    (closeModal)="modal.dismiss()">
  </app-employee-form>
</ng-template>
  </div>
</div>

<app-footer></app-footer>
