footer {
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    rgb(35 35 35),
    rgb(30 30 30),
    rgb(25 25 25),
    rgb(20 20 20),
    rgb(15 15 15),
    rgb(15 15 15),
    rgb(20 20 20),
    rgb(25 25 25),
    rgb(30 30 30),
    rgb(35 35 35)
  );
}

.text-body-secondary {
  text-shadow: 1px 1px 4px gray;
  padding: 0.5%;
  color: white !important;
}

.my-4 {
  margin-bottom: 0 !important;
}
